.title {
  margin: auto;
  width: 100%;
  height: 6rem;
  text-align: center;
  color: white;
  box-shadow:  0 2px 3px white;
}

.switch{
  width: 50%;
 text-align: center;
  margin: auto ;
}

.switch button{
  color: white;
  font-size: 2rem;
  margin: 1rem;
  padding: .5rem 2rem;
  border: none;
  border-radius: 12px;
  background-color: #b61ab6;
  cursor: pointer;
}
@media screen and (max-width:438px){
  .switch{
    width: 100%;
   text-align: center;
    margin: auto ;
  }
}