.footer {
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
}
.footer h2 {
  font-size: 1.5rem;
  text-shadow: 0 0 3px white;
  padding: 1rem;
  margin: 0;
}
.footer a{
    color: white;
    cursor: pointer;
}
